*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
body{
    background-image: url(../bgnew.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    width:80%;
    height:90vh;
    margin: auto;
    margin-top: 20px;
}
.quotes-container{
    width:80%;
    height: 100%;
    margin: auto;
    padding:130px 220px 200px 240px ;
    background-image: url(../bg-img.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align:justify;
}
i{
    font-size: 35px;
    padding:10px;
}
h1{
    display: inline;
}
.author{
    padding:10px;
    text-align: right;
    font-size: 24px;
    font-weight: 900;
    font-family: "Cedarville Cursive", cursive;
}